<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="SMTPHost" value="mail.globalearthmoving.co.za" />
    <add key="SMTPUsername" value="GESLeads@globalearthmoving.co.za" />
    <add key="SMTPPassword" value="g3sl3ads" />
    <add key="SMTPFrom" value="reeves.graham@gmail.com" />
    <add key="SMTPTo" value="markreevesmk@gmail.com; grahamuc27@lantic.net; globalearthmoving@relenta.net" />
    <add key="SMTPCc" value="reeves.graham@gmail.com" />
    <add key="SMTPFromTest" value="reeves.graham@gmail.com" />
    <add key="SMTPToTest" value="reevesie@absamail.co.za; GReeves@realpeople.co.za" />
    <add key="SMTPCcTest" value="reeves.graham@gmail.com; GReeves@cybertrac.co.za" />
    <add key="ZOHOApiKey" value="tYhpQEtJWBn1v6JwRlaa6znz*unkVR3QkQaMGWeIdlI$" />
    <add key="ZOHOUsername" value="reeves.graham@gmail.com" />
    <add key="ZOHOPassword" value="reevesie007" />
  </appSettings>
  <connectionStrings>
    <!--
    <add name="ReportsConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\GES.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="GESEntities" connectionString="metadata=res://*/DAL.GES.csdl|res://*/DAL.GES.ssdl|res://*/DAL.GES.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\GES.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    -->
    <!--<add name="GESEntities" connectionString="metadata=res://*/DAL.GES.csdl|res://*/DAL.GES.ssdl|res://*/DAL.GES.msl;provider=System.Data.SqlClient;provider connection string='Data Source=tcp:s04.winhost.com;Initial Catalog=DB_17597_GES;User ID=DB_17597_ges_user;Password=admin;Integrated Security=False;'" providerName="System.Data.EntityClient" />
    <add name="ReportsConnectionString" connectionString="Data Source=tcp:s04.winhost.com;Initial Catalog=DB_17597_GES;User ID=DB_17597_ges_user;Password=admin;Integrated Security=False" providerName="System.Data.SqlClient" />-->
    
    <add name="GESEntities" connectionString="metadata=res://*/DAL.GES.csdl|res://*/DAL.GES.ssdl|res://*/DAL.GES.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\GES.mdf;Integrated Security=True;User Instance=True'" providerName="System.Data.EntityClient" />
    <add name="ReportsConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\GES.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <!--
      <sessionState cookieless="true" />
    -->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <machineKey validationKey="4D3BBA80E708A0344DD7E74622B49E799D8E6E63E105121F8EA50ABA6DDC7C68B56F99CA5CD0EF82FF5F4D7D7358FE38EAD9EAF40DA6BBC21F133ABDDFD7DD64" decryptionKey="D4880B35AF61A641297CE8FDA6C1B1A52DA62F43DB0B41F09FBE2B7F16438A4F" validation="SHA1" decryption="AES" />
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <!--<membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    -->
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <!--pages enableViewStateMac="false"/>-->
    <trust level="Full" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControl" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Shantui-Bulldozers" stopProcessing="true">
          <match url="Shantui-Bulldozers" />
          <action type="Rewrite" url="ShantuiList.aspx?Category=Bulldozers" />
        </rule>
        <rule name="Shantui-Excavators" stopProcessing="true">
          <match url="Shantui-Excavators" />
          <action type="Rewrite" url="ShantuiList.aspx?Category=Excavators" />
        </rule>
        <rule name="Shantui-Motor-Graders" stopProcessing="true">
          <match url="Shantui-Motor-Graders" />
          <action type="Rewrite" url="ShantuiList.aspx?Category=Motor%20Graders" />
        </rule>
        <rule name="Shantui-Rollers" stopProcessing="true">
          <match url="Shantui-Rollers" />
          <action type="Rewrite" url="ShantuiList.aspx?Category=Rollers" />
        </rule>
        <rule name="Shantui-Forklifts" stopProcessing="true">
          <match url="Shantui-Forklifts" />
          <action type="Rewrite" url="ShantuiList.aspx?Category=Forklifts" />
        </rule>
        <rule name="Shantui-Wheel-Loaders" stopProcessing="true">
          <match url="Shantui-Wheel-Loaders" />
          <action type="Rewrite" url="ShantuiList.aspx?Category=Wheel%20Loaders" />
        </rule>
        <rule name="Shantui-Pipe-Layers" stopProcessing="true">
          <match url="Shantui-Pipe-Layers" />
          <action type="Rewrite" url="ShantuiList.aspx?Category=Pipe%20Layers" />
        </rule>
        <rule name="tlb-for-sale">
          <match url="tlb-for-sale" />
          <action type="Rewrite" url="UsedEquipment.aspx?searchtype=refresh&amp;orderby=normal&amp;direction=normal&amp;machinetypeid=1" />
        </rule>
        <rule name="excavator-for-sale">
          <match url="excavator-for-sale" />
          <action type="Rewrite" url="UsedEquipment.aspx?searchtype=refresh&amp;orderby=normal&amp;direction=normal&amp;machinetypeid=2" />
        </rule>
        <rule name="bulldozer-for-sale">
          <match url="bulldozer-for-sale" />
          <action type="Rewrite" url="UsedEquipment.aspx?searchtype=refresh&amp;orderby=normal&amp;direction=normal&amp;machinetypeid=3" />
        </rule>
        <rule name="water-trucks-for-sale">
          <match url="water-trucks-for-sale" />
          <action type="Rewrite" url="UsedEquipment.aspx?searchtype=refresh&amp;orderby=normal&amp;direction=normal&amp;machinetypeid=4" />
        </rule>
        <rule name="compactors-for-sale">
          <match url="compactors-for-sale" />
          <action type="Rewrite" url="UsedEquipment.aspx?searchtype=refresh&amp;orderby=normal&amp;direction=normal&amp;machinetypeid=9" />
        </rule>
        <rule name="motor-grader-for-sale">
          <match url="motor-grader-for-sale" />
          <action type="Rewrite" url="UsedEquipment.aspx?searchtype=refresh&amp;orderby=normal&amp;direction=normal&amp;machinetypeid=17" />
        </rule>
        <rule name="dump-truck-for-sale">
          <match url="dump-truck-for-sale" />
          <action type="Rewrite" url="UsedEquipment.aspx?searchtype=refresh&amp;orderby=normal&amp;direction=normal&amp;machinetypeid=26" />
        </rule>
        <rule name="flatbed-truck-for-sale">
          <match url="flatbed-truck-for-sale" />
          <action type="Rewrite" url="UsedEquipment.aspx?searchtype=refresh&amp;orderby=normal&amp;direction=normal&amp;machinetypeid=27" />
        </rule>
        <rule name="tipper-truck-for-sale">
          <match url="tipper-truck-for-sale" />
          <action type="Rewrite" url="UsedEquipment.aspx?searchtype=refresh&amp;orderby=normal&amp;direction=normal&amp;machinetypeid=29" />
        </rule>
        <rule name="wheel-loader-for-sale">
          <match url="wheel-loader-for-sale" />
          <action type="Rewrite" url="UsedEquipment.aspx?searchtype=refresh&amp;orderby=normal&amp;direction=normal&amp;machinetypeid=31" />
        </rule>
        <rule name="front-end-loader-for-sale">
          <match url="front-end-loader-for-sale" />
          <action type="Rewrite" url="UsedEquipment.aspx?searchtype=refresh&amp;orderby=normal&amp;direction=normal&amp;machinetypeid=32" />
        </rule>
        <rule name="road-roller-for-sale">
          <match url="road-roller-for-sale" />
          <action type="Rewrite" url="UsedEquipment.aspx?searchtype=refresh&amp;orderby=normal&amp;direction=normal&amp;machinetypeid=34" />
        </rule>
        <rule name="bowser-for-sale">
          <match url="bowser-for-sale" />
          <action type="Rewrite" url="UsedEquipment.aspx?searchtype=refresh&amp;orderby=normal&amp;direction=normal&amp;machinetypeid=37" />
        </rule>
        <rule name="tow-tractor-for-sale">
          <match url="tow-tractor-for-sale" />
          <action type="Rewrite" url="UsedEquipment.aspx?searchtype=refresh&amp;orderby=normal&amp;direction=normal&amp;machinetypeid=38" />
        </rule>
        <rule name="Shantui" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="Shantui" />
          <action type="Rewrite" url="Shantui.aspx" />
        </rule>
        <rule name="Used-Equipment">
          <match url="Used-Equipment" />
          <action type="Rewrite" url="UsedEquipment.aspx?searchtype=new&amp;orderby=normal&amp;direction=normal" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <location path="AddUsedEquipment.aspx">
    <system.web>
      <authorization>
        <allow users="admin" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
</configuration>